node_modules
/app/graphql    
/app/services                                                                                                                          
/coverage
/src/generator-engine/test.ts
/src/app